# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
node_modules
.env
dist
.next
.log
.DS_Store
coverage
/out
Makefile.txt
.agents
.claude
.windsurf

/generated/prisma
apps/api/prisma7.config.js
apps/api/prisma7.config.js.map
apps/api/prisma7.config.d.ts

/prisma/apps/api/src/generated/prisma
